body {
    background-color: #000220;
}


.TopBarLinks {
    font-family: monospace;
    float: left;
}

hr {
    clear: both;
    border: transparent;
}

#HomeBar {
    margin-left: 10vh;
    color: white;
}

#AboutBar {
    margin-left: 0vh;
    color: white;
}

#SocialsBar {
    margin-left: 0vh;
}

#CareerBar {
    margin-left: 4vh;
    color: white;
}

a {
    margin-left: 5vh;
    color: white;
}

p {
    margin-right: 50vh;
}

h2 {
    font-family: Arial;
    color: white;
}

.socialtab {
    border: solid 1px red;
    border-radius: 25px;
    height: 25vh;
    width: 75vh;
    float: left;
    display: flex;
}

.logoframe {
    border: solid 1px white;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25vh;
    width: 25vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.socialdesc {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20vh;
}

.socialdesctext {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10vh;
    font-family: Arial;
    font-size: 52px;
}

.logoimg {
        height: fit-content;
        width: fit-content;
}

#instalogoframe {
    background-image: url('instalogo.jpg');
}

#youtubelogoframe {
    background-image: url('youtubelogo.jpg');
}

#instagram {
    transition: all 1s;
}

#instagram:hover {
    text-shadow: 4px 4px 0px rgb(132, 0, 255), -4px -4px 0px rgb(238, 255, 0);
}

#youtube {
    transition: all 1s
}

#youtube:hover {
    text-shadow: 4px 4px 0px rgb(255, 0, 0), -4px -4px 0px rgb(0, 0, 0);
}
